h1 {
	color: #000000;
}
table {
	color: white;
	background-color: blue;
	border-color: black;
}
body {
    background-image: url("http://static3.techinsider.io/image/563a5bbdbd86ef775d8bc2f2-1920-1080/fallout4_graph07.jpg");
    /*background-color: #330033;*/
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color: #ffffff;
    font-size: 75%;
}
.cheeb {
	font-size: 12pt;
}
#james {
	font-size: 12pt;
}
.green {
	font-size: 20pt;
	font-family: cursive;
	color: #34d491;
}
.man {
	font-size: 15pt;
	font-family: fantasy;
	color: #99eb47;
}
/*#geeb {
	color: #ffffff;
}*/
.name{
        float:left;
        margin:100px;
        border:1px solid black;
    }
    .tooltip{
        position:absolute;
        margin:5px;
        width:200px;
        height:100px;
        border:1px solid black;
        display:none;
    }
#art {
    height:500px;
}